body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  background-color: #ebebde;
}

#title {
  color: #ebebde;
  display: flexbox;
  margin: auto;
  text-align: center;
  font-size: 80px;
  background-color: #4f4747;
  height: 60px;
  font-weight: 400;
  max-width: 80%;
  height: 150px;
}

#new-contact-form {
  display: flex;
  margin: auto;
}

#search-label {
  display: block;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

#search-bar {
  display: flex;
  margin: auto;
  width: 173px;
  margin-bottom: 20px;
}

#new-contact-form {
  display: block;
  text-align: center;
  font-size: 25px;
}

input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
}

.input-box {
  display: flex;
  margin: auto;
  margin-top: 10px;
  background-color: #ebebde;
  margin-top: 5px;
  height: 25px;
  width: 300px;
}

.table-container {
  font-size: 20px;
  width: 80%;
  margin: auto;
}

.row-item {
  display: flex;
}

.col-item {
  background-color: rgba(119, 119, 100, 0.6);
  color: #ebebde;
  margin: 3px;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.first-name {
  flex-basis: 20%;
}

.last-name {
  flex-basis: 20%;
}

.phone-number {
  flex-basis: 20%;
}

.address {
  flex-basis: 60%;
}

.header {
  font-weight: bold;
  background-color: rgba(79, 71, 71, 0.9);
  font-size: 16px;
}

#first-header {
  margin-left: 43px;
}

.delete-button {
  flex-basis: 5%;
  text-align: center;
  cursor: pointer;
}

.delete-label {
  flex-basis: 5%;
}

#add-button {
  display: block;
  background-color: rgba(79, 71, 71, 0.5);
  color: #ebebde;
  width: 120px;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
}
