body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: auto;
  background-color: ;
}

h1 {
  color: rgb(119, 136, 153);
  text-align: center;
  padding-top: 30px;
  background-color: rgb(220, 220, 220);
  height: 60px;
  border: 3px solid rgb(119, 136, 153);
  font-family: sans-serif;
}

#new-contact-form {
  display: flex;
  margin: auto;
}

#search-label {
  display: block;
  text-align: center;
}

#search-bar {
  height: 15px;
  display: flex;
  margin: auto;
  width: 173px;
  margin-bottom: 20px;
}

#new-contact-form {
  display: block;
  text-align: center;
  font-size: 25px;
}

.input-box {
  display: flex;
  margin: auto;
  height: 25px;
  width: 300px;
}

.table-container {
  font-size: 20px;
  width: 80%;
}

.row-item {
  display: flex;
}

.col-item {
  background-color: rgba(95, 118, 148, 0.5);
  margin: 3px;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.first-name {
  flex-basis: 20%;
}

.last-name {
  flex-basis: 20%;
}

.phone-number {
  flex-basis: 20%;
}

.address {
  flex-basis: 60%;
}

.header {
  font-weight: bold;
  background-color: rgb(95, 118, 148);
  font-size: 16px;
}

#first-header {
  margin-left: 43px;
}

.delete-button {
  flex-basis: 12%;
  text-align: center;
  cursor: pointer;
}

.delete-label {
  flex-basis: 5%;
}

.add-button {
  display: block;
}
